@charset "UTF-8";

@font-face {
  font-family: AeonikTRIAL;
  font-display: swap;
  src: url("../fonts/AeonikTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AeonikTRIAL;
  font-display: swap;
  src: url("../fonts/AeonikTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Belleza;
  font-display: swap;
  src: url("../fonts/Belleza-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container__intro .intro__btn {
  padding: 15px 50px;
  background: #F3F3F3;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__intro .intro__btn:hover {
  background: black;
  color: white;
}

.container__intro .intro__box {
  border-radius: 0px 28.188px 28.188px 0px;
  background: linear-gradient(173deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-shadow: 0px 5.6376099586px 33.8256607056px -1.4094024897px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5.6376099586px 33.8256607056px -1.4094024897px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(35.2350616455px);
          backdrop-filter: blur(35.2350616455px);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Убираем внутренние отступы */

ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  font-family: Quicksand;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

h1 {
  font-family: Belleza;
  font-size: 96px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

button {
  border: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body.noscroll {
  overflow: hidden;
  height: 100%;
  z-index: 100;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-family: sans-serif !important;
}

input::-webkit-input-placeholder {
  font-family: sans-serif !important;
}

input::-moz-placeholder {
  font-family: sans-serif !important;
}

input:-ms-input-placeholder {
  font-family: sans-serif !important;
}

input::-ms-input-placeholder {
  font-family: sans-serif !important;
}

input::placeholder {
  font-family: sans-serif !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
  padding: 0 10px;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.navigation__fixed header {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation__fixed main {
  margin-top: 42px;
}

.navigation__fixed.navigation__hidden header {
  top: -96px;
}

.navigation__fixed.navigation__hidden main {
  margin-top: 42px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 11;
  top: 0;
  background-color: white;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 10px;
}

.header__item-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 45px;
}

.header__controls-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.header__controls-block .header__search-item {
  width: 24px;
  height: 24px;
  position: relative;
  font-family: AeonikTRIAL;
}

.header__controls-block .header__search-item.active {
  position: absolute;
  right: 0;
}

.header__controls-block .header__search-item .header__search-input {
  font-family: AeonikTRIAL;
  height: 42px;
  width: 0;
  padding: 0 4px 0 15px;
  outline: none;
  border: none;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: -8px;
  right: 0px;
  z-index: 2;
}

.header__controls-block .header__search-item .header__search-input.active {
  width: 100%;
  max-width: 500px;
}

.header__controls-block .header__search-item .header__search-input::-webkit-input-placeholder {
  font-family: AeonikTRIAL !important;
}

.header__controls-block .header__search-item .header__search-input::-moz-placeholder {
  font-family: AeonikTRIAL !important;
}

.header__controls-block .header__search-item .header__search-input:-ms-input-placeholder {
  font-family: AeonikTRIAL !important;
}

.header__controls-block .header__search-item .header__search-input::-ms-input-placeholder {
  font-family: AeonikTRIAL !important;
}

.header__controls-block .header__search-item .header__search-input::placeholder {
  font-family: AeonikTRIAL !important;
}

.header__controls-block .header__search-item .header__search-input:focus {
  font-family: AeonikTRIAL !important;
  width: 300px;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.header__controls-block .header__search-item .header__search-btn {
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
}

.header__controls-block .header__search-item .header__search-btn:before {
  content: url(../img/search_logo.svg);
}

.burger__btn {
  display: none;
}

.burger__content {
  display: none;
}

.burger__close {
  display: none;
}

.header__controls-item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.header__controls-item:hover {
  background-color: rgba(62, 62, 62, 0.3);
}

.burger__btn {
  display: none;
}

.no-webp .section__intro{
  background: url(../img/bg__main.png); }

.section__intro {
  width: 100vw;
  height: 900px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container__intro {
  width: 100%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.container__intro .intro__title {
  max-width: 604px;
  width: 100%;
  color: white;
  margin-top: 52px;
}

.container__intro .intro__btn {
  margin: 41px 0;
}

.container__intro .intro__box {
  max-width: 720px;
  width: 100%;
  padding: 37px 20px 37px 49px;
  font-family: AeonikTRIAL;
  color: white;
}

.container__intro .intro__box .intro__box-title {
  width: 100%;
  max-width: 408px;
  font-size: 33.826px;
}

.container__intro .intro__box .intro__box-text {
  font-size: 33.826px;
  font-weight: 250;
  margin: 25px 0 43px 0;
}

.container__intro .intro__box .intro__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 90px;
}

.container__intro .intro__box .intro__box-item .intro__box-item-link:nth-child(1) {
  font-family: AeonikTRIAL;
  font-size: 36.01px;
  font-weight: 900;
  opacity: 0.5;
  color: white;
}

.container__intro .intro__box .intro__box-item .intro__box-item-link:nth-child(2) {
  color: white;
  opacity: 0.5;
  font-family: Lora;
  font-size: 36.01px;
  font-weight: 700;
}

.section__about-us {
  margin: 42px 0 156px 0;
}

.container__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}

.about-us__item .about-us__item-desc {
  font-size: 24px;
  font-family: AeonikTRIAL;
  font-weight: 250;
}

.about-us__item .about-us__item-text {
  font-family: Lora;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
}

.about-us__item .about-us__item-link {
  color: #000;
  font-family: AeonikTRIAL;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  margin-top: 66px;
}

.about-us__item .about-us__item-link::after {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -60px;
  content: url(../../img/arrow__link-mobile.svg);
}

.about-us__item:nth-child(1) {
  width: 100%;
  max-width: 435px;
}

.about-us__item:nth-child(2) {
  width: 100%;
  max-width: 626px;
}

@media (max-width: 980px) {
  h1 {
    font-size: 72px;
  }

  .burger__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .header__burger-nav {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .burger__content {
    left: 0;
    top: 0;
    height: 100vh;
    width: 70vw;
    background-color: white;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }

  .no-webp .burger__content.active{
    background-image: url(../img/bg__main.png); }

  .burger__content.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .burger__content.active .header__item-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: linear-gradient(173deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-shadow: 0px 5.6376099586px 33.8256607056px -1.4094024897px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5.6376099586px 33.8256607056px -1.4094024897px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(35.2350616455px);
            backdrop-filter: blur(35.2350616455px);
  }

  .burger__content.active .header__item-ul .header__item-li {
    padding: 20px;
    width: 100%;
    font-size: 20px;
  }

  .burger__content.active .header__item-ul .header__item-li .header__item-link {
    color: white;
  }

  .burger__content.active .header__item-ul .header__item-li .header__item-link:hover {
    color: black;
  }

  .burger__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30vw;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    display: flex;
    -webkit-transform: translateX(1000%);
        -ms-transform: translateX(1000%);
            transform: translateX(1000%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .burger__close.active {
    z-index: 6;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .header__item-nav {
    display: none;
  }

  .header__controls-block .header__search-item .header__search-input::-webkit-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::-moz-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input:-ms-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::-ms-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input:focus {
    width: 200px;
  }

  .section__intro {
    height: 700px;
  }

  .container__intro .intro__title {
    max-width: 450px;
  }

  .container__intro .intro__box-title {
    font-size: 28px;
  }

  .container__intro .intro__box-text {
    font-size: 28px;
  }

  .section__about-us {
    margin: 42px 0;
  }

  .container__about-us {
    gap: 35px;
  }

  .about-us__item .about-us__item-text {
    font-size: 30px;
  }

  .about-us__item .about-us__item-link {
    font-size: 18px;
    margin-top: 36px;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 48px;
  }

  .section__intro {
    height: 600px;
  }

  .container__intro .intro__btn {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 19px;
  }

  .container__intro .intro__box {
    padding: 17px 10px 17px 10px;
  }

  .container__intro .intro__box .intro__box-text {
    margin: 12px 0;
  }

  .about-us__item:nth-child(1) {
    max-width: none;
  }

  .about-us__item:nth-child(2) {
    max-width: none;
  }

  .section__about-us {
    margin: 38px 0;
  }

  .container__about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }

  .about-us__item {
    text-align: center;
  }

  .about-us__item .about-us__item-text {
    font-size: 24px;
  }

  .about-us__item .about-us__item-link {
    margin-top: 36px auto 0 auto;
  }

  .about-us__item .about-us__item-link::after {
    top: -2px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 24px;
  }

  .section__intro {
    height: 450px;
  }

  .container__intro .intro__btn {
    font-size: 13px;
  }

  .container__intro .intro__box .intro__box-title {
    font-size: 19px;
    max-width: 300px;
  }

  .container__intro .intro__box .intro__box-text {
    max-width: 300px;
    font-size: 14px;
  }

  .container__intro .intro__box .intro__box-item .intro__box-item-link:nth-child(1) {
    font-size: 20px;
  }

  .container__intro .intro__box .intro__box-item .intro__box-item-link:nth-child(2) {
    font-size: 20px;
  }

  .about-us__item:nth-child(1) {
    max-width: 259px;
    margin: 0 auto;
    font-weight: 250;
    line-height: normal;
    font-style: normal;
  }

  .section__about-us {
    margin: 28px 0;
  }

  .container__about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }

  .about-us__item {
    text-align: center;
  }

  .about-us__item .about-us__item-desc {
    font-size: 12px;
    line-height: normal;
  }

  .about-us__item .about-us__item-text {
    font-size: 20px;
  }

  .about-us__item .about-us__item-link {
    margin-top: 34px auto 0 auto;
  }
}

@media (max-width: 480px) {
  .container__header {
    padding: 11px 10px;
  }

  .header__controls-block {
    gap: 20px;
  }

  .header__controls-block .header__controls-item {
    width: 30px;
    height: 30px;
  }

  .header__controls-block .header__search-item .header__search-btn {
    top: 5px;
  }

  .header__controls-block .header__search-item .header__search-input {
    padding: 2px 5px;
    height: 25px;
  }

  .header__controls-block .header__search-item .header__search-input::-webkit-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::-moz-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input:-ms-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::-ms-input-placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input::placeholder {
    font-family: AeonikTRIAL !important;
  }

  .header__controls-block .header__search-item .header__search-input:focus {
    top: 20px;
    right: -40px;
    width: 150px;
  }
}

.webp .section__intro{ background: url(../../img/bg__main.webp); }

@media (max-width: 980px){

  .webp .burger__content.active{ background-image: url(../img/bg__main.webp); }
}
